/target

run
dist/
iife/
node_modules/
crowchiper.db
sync

.cargo-container
.zed/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/plugin

*/target/
target/
*/src/bindings.rs
